* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  font-size: 100%; /* Define o tamanho base da fonte */
}

/* Header */
header {
  background-color: #269447;
  color: white;
  text-align: center;
  padding: 2rem; /* Use rem para espaçamento baseado no tamanho da fonte */
  font-size: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5rem; /* Altura relativa para linhas decorativas */
  background-color: #f7e800;
  position: absolute;
  bottom: 0;
}

/* Sidebar */
.sidebar {
  height: 100vh;
  padding: 2rem 1rem;
  background-color: #f5d307;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 12vw; /* Largura relativa à viewport */
  transform: translateX(0);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidebar button {
  font-size: 1rem;
  padding: 0.6rem 1rem;
}

.nav-item {
  margin: 1rem 0;
}

.menu {
  padding-top: 12vh; /* Espaçamento relativo à altura da tela */
}

.bottom-links {
  padding-top: 25vh;
}

.bottom-links button {
  margin-bottom: 1rem;
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-top: 0.1rem solid #269447;
  margin-top: 1rem;
}

.user-avatar {
  width: 2.5rem; /* Tamanho relativo ao corpo do texto */
  height: 2.5rem;
  border-radius: 50%;
  background-color: #269447;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin-right: 1rem;
}

.user-details {
  flex-grow: 1;
}

.user-name,
.user-perfil,
.user-loja {
  margin: 0;
  font-size: 1rem;
  color: #269447;
}

.table-responsive {
  overflow-x: auto;
}

/* Content */
.content {
  padding: 1rem;
  margin-left: 27.5vh; /* Espaçamento dinâmico */
  transition: margin-left 0.3s ease;
}

/* Custom Button */
.btn-custom {
  background-color: #269447;
  color: white;
}

.btn-custom:hover {
  background-color: #20512e;
  color: white;
}

.btn-custom.active {
  background-color: #1f5d3d;
  color: white;
}

.btn-submit {
  background-color: #269447;
  color: white;
  margin-left: 60vh;
  width: 30%;
}

/* Hamburger Menu */
.hamburger {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  color: white;
}

/* Responsividade */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 25vw; /* Ajuste da largura para telas menores */
    height: 100%;
  }
  .sidebar.active {
    transform: translateX(0);
  }
  .content {
    margin-left: 0;
  }
  .hamburger {
    display: block;
  }
  .content.active {
    margin-left: 60vw;
  }

  .btn-submit {
    margin-left: 25vh;
    width: 20%;
  }
}
