@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* Header */
header {
  background-color: #269447;
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .img-fluid {
  height: 5rem; /* Tamanho padrão para a logo */
  margin-left: 15rem; /* Espaço entre a logo e o texto */
}

header::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5rem;
  background-color: #f5d307;
  position: absolute;
  bottom: 0;
}

/* Botão de alerta */
.btn-alert-circle {
  background-color: #1f5d3d; /* Cor vermelha para alerta */
  color: white;
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%; /* Torna o botão circular */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute; /* Para posicionamento mais fácil */
  right: 5rem; /* Ajusta mais para a esquerda em telas grandes */
  top: 2.5rem; /* Alinha no topo */
  z-index: 1001;
}

.btn-alert-circle i {
  font-size: 1.5rem; /* Tamanho do ícone */
}

.btn-alert-circle:hover {
  background-color: #851306; /* Cor ao passar o mouse */
}

/* Sidebar */
.sidebar {
  height: 100vh;
  padding: 2rem 1rem;
  background-color: #f5d307;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 12vw;
  overflow: hidden;
  z-index: 1000;
  transition: transform 0.3s ease, width 0.3s ease;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar button {
  font-size: 1rem;
  padding: 0.6rem 1rem;
}

.nav-item {
  margin: 1rem 0;
}

.menu {
  padding-top: 12vh;
}

.bottom-links {
  padding-top: 5.5vh;
}

.bottom-links button {
  margin-bottom: 1rem;
}

.close-btn {
  display: none; /* Escondido por padrão */
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  color: #269447;
  cursor: pointer;
  z-index: 1001; /* Acima do sidebar */
}

.close-btn i {
  font-size: 1.5rem; /* Ajuste o tamanho do ícone */
  color: #269447;
}

.btn-danger {
  background-color: #b30d14; /* Cor de fundo nova */
  border-color: #b30d14; /* Cor da borda */
}

.btn-danger:hover {
  background-color: #851306; /* Cor ao passar o mouse */
  border-color: #851306; /* Cor da borda ao passar o mouse */
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-top: 0.1rem solid #269447;
  margin-top: 1rem;
}

.user-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #269447;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin-right: 1rem;
}

.user-details {
  flex-grow: 1;
}

.user-name,
.user-perfil,
.user-loja {
  margin: 0;
  font-size: 1rem;
  color: #269447;
}

.table-responsive {
  overflow-x: auto;
}

/* Content */
.content {
  padding: 1rem;
  margin-left: 14.4vw;
}

.input-icon {
  position: absolute; /* Posiciona o ícone de forma absoluta */
  left: 20px; /* Ajuste a posição horizontal */
  top: 50%; /* Centraliza verticalmente */
  transform: translateY(-50%); /* Ajusta a posição vertical */
  pointer-events: none; /* Permite que o clique passe pelo ícone */
  color: #999; /* Cor do ícone (opcional) */
}

.form-control {
  padding-left: 40px; /* Ajuste o padding para deslocar o texto do placeholder */
}

/* Custom Button */
.btn-custom {
  background-color: #269447;
  color: white;
}

.btn-custom:hover {
  background-color: #1f5d3d;
  color: white;
}

.btn-custom.active {
  background-color: #1f5d3d;
  color: white;
}

.btn-submit {
  background-color: #269447;
  color: white;
  margin-left: 60vh;
  width: 30%;
}

/* Hamburger Menu */
.hamburger {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  left: 2rem;
  top: 2rem;
  color: white;
  display: block;
}

/* Overlay */
.overlay {
  position: fixed; /* Fixa na tela */
  top: 0;
  left: 0;
  width: 100vw; /* Largura total da tela */
  height: 100vh; /* Altura total da tela */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com transparência */
  z-index: 999; /* Deve estar acima do conteúdo principal, mas abaixo do sidebar */
  display: none; /* Escondido por padrão */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%); /* Sidebar recolhido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 60vw; /* Ajuste da largura para telas menores */
    height: 100%;
    padding: 1.5rem 1rem;
  }

  .sidebar.active {
    transform: translateX(0); /* Mostra o sidebar quando ativo */
  }

  .sidebar button {
    font-size: 0.9rem; /* Ajuste do tamanho do botão */
    padding: 0.5rem 0.8rem;
  }

  .close-btn {
    display: block;
  }

  .btn-alert-circle {
    display: block !important; /* Mostra o botão em telas pequenas */
    width: 3rem; /* Tamanho ajustado para telas pequenas */
    height: 3rem;
    position: absolute;
    top: 2rem; /* Abaixo do botão de fechar "X" */
    right: 2%;
    transform: translateX(-50%); /* Centraliza o botão horizontalmente */
    z-index: 1001;
  }

  header .img-fluid {
    height: 3.5rem; /* Logo menor para telas pequenas */
    margin-right: 15.5rem;
  }

  .content {
    margin-left: 0;
  }

  .btn-submit {
    margin-left: 15vh;
    width: 30%;
  }

  .user-avatar {
    width: 2.5rem; /* Ajuste do avatar para telas menores */
    height: 2.5rem;
  }

  .user-name,
  .user-loja {
    font-size: 0.8rem; /* Ajuste das fontes para telas menores */
  }
}
