@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Header */
header {
  background-color: #269447;
  color: white;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .img-fluid {
  height: 5rem; /* Tamanho padrão para a logo */
  margin-left: 14rem; /* Espaço entre a logo e o texto */
}

header::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5rem;
  background-color: #f5d307;
  position: absolute;
  bottom: 0;
}

/* Estilizando o cabeçalho de todas as tabelas */
table thead {
  background-color: #269447; /* Cor de fundo verde */
  color: white; /* Cor do texto do cabeçalho */
  border-bottom: 2px solid #ccc; /* Borda inferior */
  text-align: left; /* Alinhamento do texto */
}

/* Botão de alerta */
.btn-alert-circle {
  background-color: #1f5d3d;
  color: white;
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 5rem;
  top: 2.5rem;
  z-index: 1001;
}

.btn-alert-circle i {
  font-size: 1.5rem;
}

.btn-alert-circle:hover {
  background-color: #851306;
}

/*botão voltar*/
.btn-voltar {
  background-color: #269447; /* Cor de fundo */
  color: white; /* Cor do texto */
  margin-top: -40px; /* Ajuste a margem superior */
}

.btn-voltar:hover {
  background-color: #1f5d3d; /* Cor de fundo ao passar o mouse */
  color: white; /* Cor do texto ao passar o mouse */
  transition: background-color 0.3s ease; /* Suavização da transição */
}

/* icones */
.usuario i:hover{
  color: #f5d307;
}

.perfil i:hover{
  color: #f5d307;
}


/* Sidebar */
.sidebar {
  height: 100vh;
  padding: 2rem 1rem;
  background-color: #f5d307;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 12vw;
  overflow: hidden;
  z-index: 1000;
  transition: transform 0.3s ease, width 0.3s ease;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar button {
  font-size: 1rem;
  padding: 0.6rem 1rem;
}

.nav-item {
  margin: 1rem 0;
}

.menu {
  padding-top: 12vh;
}

.bottom-links {
  padding-top: 5.5vh;
}

.bottom-links button {
  margin-bottom: 1rem;
}

.close-btn {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  color: #269447;
  cursor: pointer;
  z-index: 1001;
}

.close-btn i {
  font-size: 1.5rem;
  color: #269447;
}

.btn-danger {
  background-color: #b30d14;
  border-color: #b30d14;
}

.btn-danger:hover {
  background-color: #851306;
  border-color: #851306;
}

/* User Info */
.user-info {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-top: 0.1rem solid #269447;
  margin-top: 1rem;
}

.user-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #269447;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  margin-right: 1rem;
}

.user-details {
  flex-grow: 1;
}

.user-name,
.user-perfil,
.user-loja {
  margin: 0;
  font-size: 1rem;
  color: #269447;
}

.table-responsive {
  overflow-x: auto;
}

/* Content */
.content {
  padding: 1rem;
  margin-left: 14.4vw;
}

.input-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #999;
}

.form-control {
  padding-left: 40px;
}

/* Custom Button */
.btn-custom {
  background-color: #269447;
  color: white;
}

.btn-custom:hover {
  background-color: #1f5d3d;
  color: white;
}

.btn-custom.active {
  background-color: #1f5d3d;
  color: white;
}

.btn-submit {
  background-color: #269447;
  color: white;
  margin-left: 60vh;
  width: 30%;
}

.btn-cancelar {
  background-color: #269447;
  color: white;
}

.btn-cancelar:hover {
  background-color: #1f5d3d; 
  color: white;
}

.btn-enviar {
  background-color: #96bb39;
  color: white;
}


.btn-recebimento {
  background-color: #f7e800;
  color: #20512e;
}

.btn-exportar {
  background-color: #b30d14;
  color: white;
}

.btn-enviar:hover{
  background-color: #69a841;
  color: white;
}

.btn-recebimento:hover{
  background-color: #e7ae15;
  color: #20512e;
}

.btn-exportar:hover {
  background-color: #851306;
  color: white;
}

/* Hamburger Menu */
.hamburger {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  left: 2rem;
  top: 2rem;
  color: white;
  display: block;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

/* Estilos do Modal */
.modal {
  display: none;
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% da parte superior e centralizado */
  padding: 20px;
  border: 4px solid #1f5d3d;
  width: 90%; /* Largura padrão do modal */
  max-width: 600px; /* Largura máxima do modal */
  margin-right: 28%; /* Adiciona uma margem à esquerda */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* cards */
.card {
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
}

.card-footer i {
  cursor: pointer;
  font-size: 1.2em;
}

.card-footer i:hover {
  color: #f5d307;
}

.card.solicitado {
  border: 2px solid #b30d14; /* Vermelho */
}

.card.recebido {
  border: 2px solid #28a745; /* Verde */
}

.card.default {
  border: 2px solid #ffc107; /* Amarelo */
}

/* Badge de status */
.badge-solicitado {
  background-color: #b30d14; /* Cor do badge para 'Solicitado' */
}

.badge-recebido {
  background-color: #28a745; /* Cor do badge para 'Recebido' */
}

.badge-default {
  background-color: #ffc107; /* Cor do badge para status padrão */
}

/* Classes para os status do estoque */
.low-stock-border {
  border: 2px solid #dc3545; /* Vermelho */
}

.medium-stock-border {
  border: 2px solid #ffc107; /* Amarelo */
}

.sufficient-stock-border {
  border: 2px solid #28a745; /* Verde */
}

/* Classes para os badges */
.badge-low {
  background-color: #dc3545; /* Vermelho */
  color: white;
}

.badge-medium {
  background-color: #ffc107; /* Amarelo */
  color: black;
}

.badge-sufficient {
  background-color: #28a745; /* Verde */
  color: white;
}

/*PAGINAÇÃO*/
.custom-pagination .page-item .page-link {
  color: #1f5d3d; /* Cor do texto */
}

.custom-pagination .page-item.disabled .page-link {
  background-color: #ccc; /* Cor de fundo para o estado desativado */
  color: #1f5d3d; /* Cor do texto para o estado desativado */
}

.custom-pagination .page-item.active .page-link {
  background-color: #1f5d3d; /* Cor de fundo para o item ativo */
  color: white; /* Cor do texto do item ativo */
}

.custom-pagination .page-item .page-link:hover {
  background-color: #1f5d3d; /* Cor de fundo no hover */
  color: white; /* Cor do texto no hover */
}

/* Responsividade para telas menores */
/* Ajustes para tela 1366x768 */
@media only screen and (min-width: 1280px) and (max-width: 1400px) {
  /* Ajustes no header */
  header {
    padding: 1.5rem;
  }

  header .img-fluid {
    height: 4rem; /* Tamanho da logo reduzido para caber melhor */
    margin-left: 12rem; /* Ajuste de margem */
  }

  .btn-alert-circle {
    width: 2.5rem; /* Ajuste do tamanho do botão */
    height: 2.5rem;
    right: 2rem; /* Aproximar da lateral */
    top: 2rem; /* Reduzir espaço superior */
  }

  /* Sidebar ajustes */
  .sidebar {
    width: 15vw; /* Aumenta a largura da sidebar para 15vw */
    padding: 1.5rem 1rem; /* Reduz espaçamento interno */
  }

  .sidebar button {
    font-size: 0.8rem; /* Reduz o tamanho da fonte dos botões */
    padding: 0.2rem; /* Reduz o espaçamento interno dos botões */
  }

  .menu {
    padding-top: 12vh;
  }

  .bottom-links {
    padding-top: 6.5vh;
  }

  .sidebar .nav-item:nth-child(1),
  .sidebar .nav-item:nth-child(2),
  .sidebar .nav-item:nth-child(3),
  .sidebar .nav-item:nth-child(4),
  .sidebar .nav-item:nth-child(5),
  .sidebar .nav-item:nth-child(6) {
    margin-bottom: 0rem;
  }

  .content {
    margin-left: 16vw; /* Ajuste de margem para o conteúdo acompanhar a sidebar maior */
  }

  /* Botão de submissão ajustado */
  .btn-submit {
    margin-left: 20vh; /* Ajuste da margem para o botão ficar mais centralizado */
    width: 40%; /* Alargar o botão */
  }

  /* Ajustes no avatar do usuário */
  .user-avatar {
    width: 2rem;
    height: 2rem;
  }

  .user-name,
  .user-loja {
    font-size: 0.9rem; /* Ajuste do tamanho da fonte */
  }
}

/*responsividade para mobile */
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 60vw;
    height: 100%;
    padding: 1.5rem 1rem;
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .sidebar button {
    font-size: 0.9rem;
    padding: 0.5rem 0.8rem;
  }

  .close-btn {
    display: block;
  }

  .btn-alert-circle {
    display: block !important;
    width: 3rem;
    height: 3rem;
    top: 2rem;
    right: 5%;
  }

  header .img-fluid {
    height: 3rem;
    margin-right: 15rem;
  }

  .content {
    margin-left: 0;
  }

  .btn-submit {
    margin-left: 10vh;
    width: 50%;
  }

  .user-avatar {
    width: 2rem;
    height: 2rem;
  }

  .user-name,
  .user-loja {
    font-size: 0.7rem;
  }

  .modal-content {
    margin-top: 20%; 
    margin-left: 5%; 
  }

  .btn-voltar{
    display: none;
  }
}
